#btn-home{
	-fx-padding:  0 100 0 0;
	-fx-background-color: transparent;
}

#btn-vendas{
	-fx-label-padding:  0 80 0 0;
	-fx-background-color: transparent;
}

#btn-faturamento{
	-fx-label-padding: 0 25 0 0;
	-fx-background-color: transparent;
}

#btn-gerenciamento{
	-fx-background-color: transparent;
}

.shadow{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.panes:hover {
	-fx-background-color: #E1DDDD;
	-fx-cursor: hand;
}

.innerButtons {
	-fx-background-color:  #C5C5C5;
}

.innerButtons:hover {
	-fx-background-color: #E1DDDD;
	-fx-cursor: hand;
}

